<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/headr::userHead"></head>
    <meta charset="UTF-8">
    <title>홈페이지</title>
</head>
<body>
<div th:replace="fragments/top::header"></div>
<section class="hero-area overlay">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1 col-md-12 col-12">
                <div class="hero-text text-center">
                    <!-- Start Hero Text -->
                    <div class="section-heading">
                        <h2 class="wow fadeInUp" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">Welcome to ShareBoard</h2>
                        <p class="wow fadeInUp" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">Post your daily life on the bulletin board while communicating with people<br/>
                            Make friends with your neighbors and make a lot of friends by writing likes and guestbooks</p>
                    </div>

                    <!-- End Search Form -->
                    <!-- Start Search Form -->
                    <!-- End Search Form -->
                </div>
            </div>
        </div>
    </div>
</section>
<section class="why-choose section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2 class="wow fadeInUp" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">자주 사용하는 기능</h2>
                    <p class="wow fadeInUp" data-wow-delay=".6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">It is an icon that can be found directly without going through the menu.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="choose-content">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-12">
                            <!-- Start Single List -->
                            <div class="single-list wow fadeInUp" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                                <a th:href="@{front/board/listViewBoard}"><img src="images/book.png"/></a>
                                <h4>게시판</h4>
                                <p>Buy and sell everything from used cars to mobile phones and computer or search
                                    for property.</p>
                            </div>
                            <!-- Start Single List -->
                        </div>
                        <div class="col-lg-4 col-md-6 col-12">
                            <!-- Start Single List -->
                            <div class="single-list wow fadeInUp" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                                <i class="lni"></i>
                                <h4>Clean &amp; Modern Design</h4>
                                <p>Buy and sell everything from used cars to mobile phones and computer or search
                                    for property.</p>
                            </div>
                            <!-- Start Single List -->
                        </div>
                        <div class="col-lg-4 col-md-6 col-12">
                            <!-- Start Single List -->
                            <div class="single-list wow fadeInUp" data-wow-delay=".6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
                                <i class="lni lni-cog"></i>
                                <h4>Completely Customizable</h4>
                                <p>Buy and sell everything from used cars to mobile phones and computer or search
                                    for property.</p>
                            </div>
                            <!-- Start Single List -->
                        </div>
                        <div class="col-lg-4 col-md-6 col-12">
                            <!-- Start Single List -->
                            <div class="single-list wow fadeInUp" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                                <i class="lni lni-pointer-up"></i>
                                <h4>User Friendly</h4>
                                <p>Buy and sell everything from used cars to mobile phones and computer or search
                                    for property.</p>
                            </div>
                            <!-- Start Single List -->
                        </div>
                        <div class="col-lg-4 col-md-6 col-12">
                            <!-- Start Single List -->
                            <div class="single-list wow fadeInUp" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                                <i class="lni lni-layout"></i>
                                <h4>Awesome Layout</h4>
                                <p>Buy and sell everything from used cars to mobile phones and computer or search
                                    for property.</p>
                            </div>
                            <!-- Start Single List -->
                        </div>
                        <div class="col-lg-4 col-md-6 col-12">
                            <!-- Start Single List -->
                            <div class="single-list wow fadeInUp" data-wow-delay=".6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
                                <i class="lni lni-laptop-phone"></i>
                                <h4>Fully Responsive</h4>
                                <p>Buy and sell everything from used cars to mobile phones and computer or search
                                    for property.</p>
                            </div>
                            <!-- Start Single List -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div th:replace="fragments/footer::footer"></div>
</body>
</html>