<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table>
    <tr>
        <th>제목</th>
        <th>작가</th>
        <th>생성일자</th>
        <th>조회수</th>
    </tr>
    <tr th:each="resultList : ${resultList}">
        <td th:text="${resultList.board_title}"></td>
        <td th:text="${resultList.board_writer}"></td>
        <td th:text="${resultList.board_crd_date}"></td>
        <td th:text="${resultList.board_hit}"></td>
    </tr>
</table>

</body>
</html>